label.custom-control-label::before{
    border-color: #9DF330;
    background-color: #9DF330;
}
.custom-control-input:checked~.custom-control-label::before{
    border-color: #9DF330;
    background-color: #9DF330;
}
.custom-checkbox .custom-control-input:checked~.custom-control-label::before{
    border-color: #9DF330;
    background-color: #9DF330;
}
div.custom-control label.custom-control-label::before{
    border-color: #9DF330;
    background-color: #9DF330;
}