.redFont{
    color: #f61515;
}
.fontSize18{
    font-size: 18px;
}
.fontSize20{
    font-size: 20px;
}
.bgBody{
    background: linear-gradient(#FFFFFF, #9B9B9B);
}
.bgLightBlueLight{
    background-color: #e3f2fd !important;
}
.bgLightBlueLight:hover{
    color: #e3f2fd;
    box-shadow: 0 0 2px #255784, 0 0 8px #255784;
}

.hrNoBorder{
    border-top: 1px;
}

.hdFtBg{
    background-color: #e3f2fd;
}

.footerTitulo{
    color: #000000;
    font-size: 20px;
}
.footerFuente {
    color: #000000;
    font-size: 14px;
    letter-spacing: 1px;
    font-weight: lighter; 
}

.marginButton{
    text-align: center;
    margin-top: 20px;
    margin-bottom: 30px;
}

.bodyBlack {
    background-color: #000000;
}

.bgFooter{
    background-color: #0B0B0B;
}

.bgImage{
    background-image: url('/images/blackbg4.jpg');
}

body { 
    padding-bottom: 200px; 
}

html {
    position: relative;
    min-height: 100%;
  }
body {
    /* Margin bottom by footer height */
    margin-bottom: 120px;
}
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 120px;
}